.button-play {
    border: 0px;
    cursor: pointer;
    color: white;
    background-color: transparent;
}
.button-pause {
    border: 0px;
    cursor: pointer;
    color: white;
    background-color: transparent;
}
.player-buttons-wrapper {
    background-color: black;
}