.js-play-button {
    border: 0px;
    cursor: pointer;
    color: white;
    background-color: transparent;
}
.js-pause-button {
    border: 0px;
    cursor: pointer;
    color: white;
    background-color: transparent;
}
.player-buttons-wrapper {
    background-color: black;
}